apps/web/.env.local
apps/desktop/.env
node_modules/
**/dist/
apps/desktop/dist-electron/
apps/desktop/dist-web/
apps/desktop/release/
*.log
.DS_Store
deploy/sloncord-deploy.config.json
deploy/.last-dist-manifest.json
deploy/.last-api-publish-manifest.json
deploy/.server-publish/
deploy/.server-publish-test/
**/*.user
**/bin/
**/obj/
apps/web/public/downloads/*.exe
apps/web/dist/downloads/*.exe
Sloncord/
*.blockmap
.env
.env.local
*.pem
fullchain.pem
privkey.pem
response.txt
apps/moderation/release/
apps/moderation/dist-electron/
apps/moderation/dist-ui/
apps/desktop/native/**/build/
apps/desktop/native/**/publish/
apps/desktop/native/**/obj/
apps/desktop/native/**/bin/
apps/desktop/resources/*.exe
apps/desktop/resources/*.pdb
deploy/.server-publish-test/
**/*.user
**/bin/
**/obj/
apps/web/public/downloads/*.exe
apps/web/dist/downloads/*.exe
Sloncord/
*.blockmap
.env
.env.local
*.pem
fullchain.pem
privkey.pem
response.txt
apps/moderation/release/
apps/moderation/dist-electron/
apps/moderation/dist-ui/
apps/desktop/native/**/build/
apps/desktop/native/**/publish/
apps/desktop/native/**/obj/
apps/desktop/native/**/bin/
apps/desktop/resources/*.exe
apps/desktop/resources/*.pdb
